<section class="releases">

  <div class="release-item">
    <div class="release-container">
      <img class="release" src="assets/release1.jpg" alt="Album 1">
      <div class="release-info">
        <h2>Album Title</h2>
        <p>Artist Name</p>
        <p>Year: 2025</p>
      </div>
    </div>
  </div>

  <div class="release-item">
    <div class="release-container">
      <img class="release" src="assets/release1.jpg" alt="Album 1">
      <div class="release-info">
        <h2>Album Title</h2>
        <p>Artist Name</p>
        <p>Year: 2025</p>
      </div>
    </div>
  </div>

  <div class="release-item">
    <div class="release-container">
      <img class="release" src="assets/release1.jpg" alt="Album 1">
      <div class="release-info">
        <h2>Album Title</h2>
        <p>Artist Name</p>
        <p>Year: 2025</p>
      </div>
    </div>
  </div>


</section>

